.contact {
    grid-area: 4 / 3 / 5 / 5;
    justify-content: space-between;

    @media screen and (max-width: 600px) {
        grid-area: 7 / 1 / 8 / 5;
    }
}

.contact__email {
    color: #DDDDDD;
}
